/* Общие стили */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

/* Стили для заглавной сцены */
header {
    position: relative;
    text-align: center;
    background-color: #f8f9fa;
    overflow: hidden;
    height: 100vh;
}

.jumbotron {
    background-color: rgba(255, 255, 255, 0); /* Прозрачный белый фон */
    padding: 20px; /* Добавим немного отступов для улучшения внешнего вида */
}

.jumbotron h1,
.jumbotron p {
    color: rgb(243, 228, 15); /* Цвет текста */
    font-weight: bold; /* Жирный шрифт */
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5); /* Горизонтальное смещение, вертикальное смещение, размытие и цвет тени */
}

.separator {
    height: 10px; /* Высота разделителя */
    background-color: rgba(255, 255, 255, 0); /* Прозрачный фон */
    margin: 20px 0; /* Отступы сверху и снизу */
    border-radius: 5px; /* Закругленные углы */
}


/* Стили для текстовых блоков */
.text-blocks {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.text-block {
    width: 70%;
    padding: 30px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    background-color: #fff;
}

.text-block:hover {
    transform: scale(1.05);
}

.text-block h2 {
    font-family: 'Arial', sans-serif;
    font-size: 28px;
    color: #333;
    margin-bottom: 10px;
}

.text-block p {
    font-size: 18px;
    color: #666;
}

/* Скрытие всех блоков, кроме первого */
.text-block:not(:first-child) {
    display: none;
}

/* Отображение видимых блоков */
.text-block.visible {
    display: block;
}


/* Карусель изображений */
.carousel-item img {
    width: 100%;
    height: 100%;
}

.carousel-indicators {
    bottom: 10px;
}

.carousel-indicators li {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #fff;
    width: 12px;
    height: 12px;
    margin: 0 5px;
}

.carousel-indicators .active {
    background-color: #fff;
}

/* Карусель портфолио */
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.product {
    width: calc(33.33% - 20px);
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgb(58, 203, 251);
}

.product h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.product p {
    font-size: 16px;
    color: rgb(21, 21, 19); /* Цвет текста */
    font-weight: bold; /* Жирный шрифт */
    text-shadow: 4px 4px 8px rgba(250, 224, 78, 0.773);
    margin-bottom: 20px;
}

.product-images img {
    max-width: 100%; /* Сохраняем пропорции изображений и ограничиваем их максимальную ширину */
    height: auto; /* Автоматически подстраиваем высоту */
    display: block; /* Убираем лишние пробелы у изображений */
    margin-bottom: 10px; /* Добавляем отступ снизу между изображениями */
}


.image-gallery, .video-player {
    margin-bottom: 20px;
}

.image-gallery img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.video-player video {
    width: 100%;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo {
    position: relative;
    display: inline-block;
}

.logo img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    animation: glowAnimation 5s infinite alternate; /* анимация свечения */
}

@keyframes glowAnimation {
    0% {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    }
    100% {
        box-shadow: 0 0 40px rgba(0, 255, 255, 0), 0 0 80px rgba(0, 255, 255, 0), 0 0 120px rgba(0, 255, 255, 0), 0 0 160px rgba(0, 255, 255, 0);
    }
}

.logo::after {
    content: '';
    position: absolute;
    top: 150;
    left: 0;
    width: 200%;
    height: 200%;
    background-image: url('logo/stencil1.png'); /* первый трафарет */
    background-size: cover;
    opacity: 0.5;
    animation: changeStencil 10s infinite; /* анимация смены трафаретов */
}


@keyframes changeStencil {
    0%, 100% {
        background-image: url('logo/stencil1.png'); /* первый трафарет */
    }
    25% {
        background-image: url('logo/stencil2.png'); /* второй трафарет */
    }
    50% {
        background-image: url('logo/stencil3.png'); /* третий трафарет */
    }
    75% {
        background-image: url('logo/stencil4.png'); /* четвертый трафарет */
    }
}   

.social-links a img {
    width: 80px;
    height: 80px;
}

@media (max-width: 767px) {
    .products {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px;
    }
    
    .product {
        width: calc(100% - 20px);
        margin-bottom: 40px;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        background-color: #fff;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .products {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 20px;
    }

    .product {
        width: calc(50% - 20px);
        margin-bottom: 40px;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        background-color: #fff;
    }
}









